
{% block ok %} {% endblock ok %}
{% load static%}
{% include "nav.html" %}
<link rel="stylesheet" href="{% static 'css\style1.css'%}">
<style>
  body{
background-color: #fff;
  }


</style>
  <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/owl.carousel.min.css" %}">
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/themify-icons.css" %}">
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}">
    <link rel="stylesheet" href="{% static "css/flaticon.css" %}">
    <link rel="stylesheet" href="{% static "css/gijgo.css" %}">
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}">
    <link rel="stylesheet" href="{% static "css/slicknav.css" %}">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    
<title>medical</title>


<script src="https://kit.fontawesome.com/a2673a891a.js" crossorigin="anonymous"></script>
{% include "footer.html" %}



